* {
    font-family: Montserrat;
}

body {
    background-image: linear-gradient(to bottom right, #63cdda, #786fa6);
    min-height: 100vh;
}
#time {
    font-size: 17rem;
    color: white;
    display: flex;
    flex-direction: row;
}
#clock {
    background-color: rgba(255, 255, 255, 0.3);
    width: 47%;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#buttons {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
}

#buttons button {
    color: white;
    font-size: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 25%;
}
#buttons button:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 25%;
}
#content {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Title {
    margin: auto;
    width: 47%;
    font-size: 4.5rem;
    color: white;
}
